
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
:root{
  
}
*{
 /* outline: 1px solid red; */
}
body{
 /* outline: 1px solid red !important; */
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.col-sm-4{
   
   padding: 0;
}

.small-sized-input{
  width: 80px;
}
.manual-styled-form-btn{
  width: 100%;
  background-color: hsl(278, 68%, 11%) !important;
  color: white !important;
  height: 50px;
  transition: unset !important;
}
input{
  height: 50px;
}
.span-big{
  flex-grow: 1;
}
.manual-positioning{
  position: relative;
}
.back-face{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  
}

.front-face{
  position: absolute;
  top: 119px;
  right: 40px;
  background-image: url('/images/bg-card-front.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  width: 350px;
  height: 175px;
}
.span-face{
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  color: white;
  text-transform: uppercase;
}
.span-face h1{
  font-size: 1.7rem;
  color: white;
}
.card-circle-big{
  
  width: 30px;
  height: 30px;
  top: 15px;
  left: 15px;
  border-radius: 50%;
  background-color: white;
}
.card-circle-small{
  width: 17px;
  height: 17px;
  top: 15px;
  left: 25px;
  border-radius: 50%;
  border: 2px solid hsl(270, 3%, 87%);
}
.cardholder-name,.card-date-valid{
  font-size: 0.8rem;
}
.span-back-face{
  width: 100%;
  position: relative;
  
  background-image: url('/images/bg-card-back.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-width: max-content;
  width: 300px;
  height: 175px;
}
.span-back-face p{
  color: white;
  position: absolute;
  top: 42%;
  right: 40px;
  
}

/* Success Message Section */
.success-message-header{
  color: hsl(278, 68%, 11%);
}
.success-message-text{
  color: hsl(279, 6%, 55%);
}

/* Error Messages */
.error_blank{
  color: hsl(0, 100%, 66%);
}
.month-year_error,.card-name-error,.cvc-error,.card-no-error{
  visibility: hidden;
}
.error-visible{
  visibility: visible;
}
/* Media Query */
@media only screen and (min-width:768px){
  .back-face{
    top: 53%;
    right: -40%;
    
  }
  .front-face{
    right: -25%;
    top: 40%;
  
}
picture img{
  height: 100%
}
.completed-container{
  position: relative;
  margin-inline-start: 100px;
}
.manual-positioning{
  height: 100vh;
}
}